<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>singer</key>
		<string>孙子涵</string>
		<key>singerIcon</key>
		<string>sunzihan.jpg</string>
		<key>lrcName</key>
		<string>唐人.lrc</string>
		<key>fileName</key>
		<string>孙子涵 - 唐人.mp3</string>
		<key>name</key>
		<string>唐人</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>薛之谦</string>
		<key>singerIcon</key>
		<string>xuezhiqian</string>
		<key>lrcName</key>
		<string>演员.lrc</string>
		<key>fileName</key>
		<string>薛之谦 - 演员.mp3</string>
		<key>name</key>
		<string>演员</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>林宥嘉</string>
		<key>singerIcon</key>
		<string>linyoujia.jpg</string>
		<key>lrcName</key>
		<string>残酷月光.lrc</string>
		<key>fileName</key>
		<string>林宥嘉-残酷月光.mp3</string>
		<key>name</key>
		<string>残酷月光</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>周杰伦</string>
		<key>singerIcon</key>
		<string>jay_icon</string>
		<key>lrcName</key>
		<string>简单爱.lrc</string>
		<key>fileName</key>
		<string>简单爱.mp3</string>
		<key>name</key>
		<string>简单爱</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>陈奕迅</string>
		<key>singerIcon</key>
		<string>eason</string>
		<key>lrcName</key>
		<string>最佳损友.lrc</string>
		<key>fileName</key>
		<string>最佳损友.mp3</string>
		<key>name</key>
		<string>最佳损友</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>张学友</string>
		<key>singerIcon</key>
		<string>zxy</string>
		<key>lrcName</key>
		<string>心碎了无痕.lrc</string>
		<key>fileName</key>
		<string>心碎了无痕.mp3</string>
		<key>name</key>
		<string>心碎了无痕</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>林俊杰</string>
		<key>singerIcon</key>
		<string>jj</string>
		<key>lrcName</key>
		<string>一千年以后.lrc</string>
		<key>fileName</key>
		<string>一千年以后.mp3</string>
		<key>name</key>
		<string>一千年以后</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>薛之谦</string>
		<key>singerIcon</key>
		<string>photo.jpeg</string>
		<key>lrcName</key>
		<string>演员.lrc</string>
		<key>fileName</key>
		<string>薛之谦 - 演员.mp3</string>
		<key>name</key>
		<string>演员</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>林宥嘉</string>
		<key>singerIcon</key>
		<string>photo.jpeg</string>
		<key>lrcName</key>
		<string>残酷月光.lrc</string>
		<key>fileName</key>
		<string>林宥嘉-残酷月光.mp3</string>
		<key>name</key>
		<string>残酷月光</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>孙子涵</string>
		<key>singerIcon</key>
		<string>photo.jpeg</string>
		<key>lrcName</key>
		<string>唐人.lrc</string>
		<key>fileName</key>
		<string>孙子涵 - 唐人.mp3</string>
		<key>name</key>
		<string>唐人</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>薛之谦</string>
		<key>singerIcon</key>
		<string>photo.jpeg</string>
		<key>lrcName</key>
		<string>演员.lrc</string>
		<key>fileName</key>
		<string>薛之谦 - 演员.mp3</string>
		<key>name</key>
		<string>演员</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>林宥嘉</string>
		<key>singerIcon</key>
		<string>photo.jpeg</string>
		<key>lrcName</key>
		<string>残酷月光.lrc</string>
		<key>fileName</key>
		<string>林宥嘉-残酷月光.mp3</string>
		<key>name</key>
		<string>残酷月光</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>林宥嘉</string>
		<key>singerIcon</key>
		<string>photo.jpeg</string>
		<key>lrcName</key>
		<string>残酷月光.lrc</string>
		<key>fileName</key>
		<string>林宥嘉-残酷月光.mp3</string>
		<key>name</key>
		<string>残酷月光</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>薛之谦</string>
		<key>singerIcon</key>
		<string>photo.jpeg</string>
		<key>lrcName</key>
		<string>演员.lrc</string>
		<key>fileName</key>
		<string>薛之谦 - 演员.mp3</string>
		<key>name</key>
		<string>演员</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>孙子涵</string>
		<key>singerIcon</key>
		<string>photo.jpeg</string>
		<key>lrcName</key>
		<string>唐人.lrc</string>
		<key>fileName</key>
		<string>孙子涵 - 唐人.mp3</string>
		<key>name</key>
		<string>唐人</string>
	</dict>
</array>
</plist>
